@import "components/layout",
        "components/forms",
        "components/button",
        "components/alert";

$status-states: (
    active      :       $success,
    inactive    :       $danger,
    success     :       $success,
    info        :       $info,
    warning     :       $warning,
    danger      :       $danger,
);


$dropdown-header-padding-y: 0rem;
$dropdown-header-padding-x: .875rem;
